$not-so-light-blue: rgb(88, 141, 158);
$light-blue: rgb(111, 178, 201);
$lighter-blue: rgb(180, 231, 248);
$darker-lanthorn-orange: #a86334;
$lanthorn-orange: #ff8839;
$lighter-lanthorn-orange: #ffae77;
$dark-grey: #3A3A3A;
$whiteish-grey: #E9E9D1;
